body[data-page="home"]>div#root>div>main>div {

    & div#main-content-container {
        & div {
            &#today-queries {
                &>div.lazy-visibility {
                    min-height: unset !important;
                }

                & div.color-level div.blocks-container {
                    background-color: unset
                }
            }

            &.nav-content-item-inner {
                margin-top: 2em
            }
        }
    }
}

body>div#root>div>main>div {
    & img {
        overflow-x: scroll
    }

    & blockquote {
        font-size: .95em
    }

    & div {
        &#time-repeater {
            min-width: 200px
        }

        &.timestamp div#date-time-picker {
            top: 3.8em;
            z-index: 11;

            &:is(:nth-of-type(2), :nth-of-type(3)) {
                width: 400px;
                background-color: var(--color-level-1);
            }

        }
    }

    & [data-refs-self*="kanban"]>.block-children-container>.block-children {
        overflow-x: scroll;
        font-size: .96em;
        scroll-snap-type: x;
    }
}