body[data-page=home] {
    @media screen and (min-width:1850px) {
        & main.ls-wide-mode div#main-content-container div.cp__sidebar-main-content {
            max-width: unset !important;
        }

        & div#main-container div.cp__sidebar-main-content {
            max-width: unset !important;
        }

        &.is-tabs-loaded div#root div#journals div#today-queries {
            top: calc(var(--ls-headbar-height) + var(--ls-headbar-inner-top-padding) + 40px)
        }

        &:is(& main.ls-right-sidebar-open, .is-pdf-active) div:is(#today-queries, .scheduled-or-deadlines) {
            display: none
        }

        &:not(.is-pdf-active) main:not(.ls-right-sidebar-open) div {

            &#journals {
                & div.flex-1.journal.page {
                    display: flex
                }

                & div.references {
                    max-height: 60vh;
                    overflow-y: scroll;
                    position: sticky;
                    top: 1em;
                    bottom: 3em;
                    margin-right: 10px;
                    z-index: 0;
                    border-radius: .3em;
                    outline: 2px solid var(--ls-guideline-color);
                    outline-offset: 3px;
                    font-size: .9em;

                    &:is(:focus-within, :hover) {
                        background: unset;
                        backdrop-filter: blur(40px);
                        min-width: 660px;
                        max-width: 660px;
                        overflow-x: visible;
                        z-index: var(--ls-z-index-level-1)
                    }

                    >div.pt-6 {
                        padding-top: unset
                    }
                }

                & div.block-children-container {
                    display: block
                }

                & div.journal.page div.lazy-visibility {

                    >div,
                    >div>div.fade-enter-active {
                        height: 82%
                    }
                }
            }

            &.journal>div.flex.flex-col:first-child {
                max-width: 1170px;
                flex: 1;
                margin-left: 1.8em
            }

            &:is(#today-queries+div.flex.flex-col, .lazy-visibility>div>div>div.scheduled-or-deadlines) {
                position: fixed;
                bottom: 1em;
                padding: .3em;
                outline: 3px solid var(--ls-guideline-color);
                outline-offset: 3px;
                border-radius: .4em;
                background: unset;
                backdrop-filter: blur(40px);
                font-size: small;
                max-height: 30vh;
                overflow: auto;
                z-index: 1;

                & div.sm\:px-7 {
                    padding-left: unset;
                    padding-right: unset
                }
            }

            &#main-content-container {
                margin: 0;
                padding-top: unset;
                padding-left: 0.2em
            }

            &#today-queries {
                background: var(--ls-primary-background-color);
                width: 390px;
                position: fixed;
                right: 0;
                top: calc(var(--ls-headbar-height) + var(--ls-headbar-inner-top-padding));
                bottom: 3px;
                overflow-y: scroll;
                font-size: .9em;
                border-left: 1px solid var(--ls-guideline-color);

                &.mt-10 {
                    margin-top: .1em
                }

                & div.custom-query {
                    margin-top: .1em;
                    margin-bottom: .8em;

                    & div.custom-query-title {
                        outline: 2px solid var(--ls-guideline-color);
                        background: var(--ls-page-blockquote-bg-color);
                        padding-right: 10px;

                        &:hover {
                            outline: 4px
                        }
                    }

                    & div.content div.lazy-visibility {
                        border-right: 4px solid var(--ls-page-blockquote-bg-color);

                        &:not(:last-of-type) {
                            border-bottom: 3px dotted var(--ls-guideline-color);
                            padding: .6em
                        }
                    }

                    & div.my-2 {
                        padding: .2em;
                        margin: .2em;
                        height: unset !important
                    }

                    & div.breadcrumb.block-parents {
                        color: var(--ct-external-link-color)
                    }
                }

                & .sm\:px-7 {
                    padding-left: unset
                }

                & :has(h2, h3, h4) {
                    font-size: 16px;
                    padding: 4px
                }
            }
        }
    }

    @media screen and (min-width:1850px) and (max-width:1910px) {
        &:not(.is-pdf-active) main:not(.ls-right-sidebar-open) {
            &:not(.ls-left-sidebar-open) div#today-queries {
                width: 360px
            }

            & div.journal>div.flex.flex-col:first-child {
                min-width: 820px
            }

            & div:is(#today-queries+div.flex.flex-col, .scheduled-or-deadlines) {
                width: 380px
            }
        }
    }

    @media screen and (min-width:1911px) and (max-width:2019px) {
        &:not(.is-pdf-active) main:not(.ls-right-sidebar-open) {
            & div.journal>div.flex.flex-col:first-child {
                min-width: 920px
            }

            & div:is(#today-queries+div.flex.flex-col, .scheduled-or-deadlines) {
                width: 460px
            }
        }
    }

    @media screen and (min-width:2020px) {
        &:not(.is-pdf-active) main:not(.ls-right-sidebar-open) {
            & div#journals div.references {
                min-width: 660px
            }

            & div.journal>div.flex.flex-col:first-child {
                min-width: 1000px
            }

            & div:is(#today-queries+div.flex.flex-col, .scheduled-or-deadlines) {
                width: 520px
            }
        }
    }

    @media screen and (min-width:1850px) and (max-width:2259px) {
        &:not(.is-pdf-active) main:not(.ls-right-sidebar-open) {

            & div:is(#today-queries+div.flex.flex-col, .scheduled-or-deadlines) {
                right: 400px
            }

            & div#journals {
                margin-right: 360px;

                & div.references {
                    min-width: 350px;
                    max-width: 400px
                }
            }
        }
    }

    @media screen and (min-width:2260px) {
        &:not(.is-pdf-active) main:not(.ls-right-sidebar-open) div#journals {
            & div.references {
                min-width: 400px;
                max-width: 660px;
                margin-right: 500px
            }

            & div.journal>div.flex.flex-col:first-child {
                max-width: 1250px;
                margin-left: 4em
            }

            & div:is(#today-queries+div.flex.flex-col, .scheduled-or-deadlines) {
                right: 525px
            }

            & div#today-queries {
                width: 500px
            }
        }
    }

    @media screen and (min-width:2800px) {
        &:not(.is-pdf-active) main:not(.ls-right-sidebar-open) div#journals {
            & div.references {
                min-width: 660px;
                max-width: 660px;
                margin-right: 620px
            }

            & div.journal>div.flex.flex-col:first-child {
                min-width: 1200px;
                max-width: 1430px
            }

            & div:is(#today-queries+div.flex.flex-col, .scheduled-or-deadlines) {
                right: 640px
            }

            & div#today-queries {
                width: 620px
            }

        }
    }
}