/* For Logseq v0.9.3 下位互換 :is(div#today-queries+div.flex.flex-col, div.scheduled-or-deadlines */

@media screen and (min-width: 1850px) {
    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals div.flex-1.journal.page {
        display: flex
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div.journal div.flex.flex-col:first-child {
        margin-left: 1em;
        flex: 1;
        padding-right: 5px
    }

    body.cl-side[data-page="home"] div#journals div.references div.pt-6 {
        padding: .1em
    }

    body.cl-side[data-page="home"] div#journals div.journal.page div.lazy-visibility div.fade-enter-active,
    body.cl-side[data-page="home"] div#journals div.journal.page div.lazy-visibility>div {
        height: 100%
    }

    body.cl-side[data-page="home"] div#journals div.journal div.lazy-visibility div.references-blocks div.flex.flex-col>div,
    body.cl-side[data-page="home"] div#journals div.references div.references-blocks div.lazy-visibility div.px-2 {
        padding-left: 0;
        padding-right: 0
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals div.lazy-visibility:has(*div.references) {
        margin-right: .4em
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals div.references {
        max-height: 60vh;
        overflow-y: scroll;
        position: sticky;
        top: 1em;
        bottom: 3em;
        margin-right: 10px;
        z-index: 0;
        border-radius: .6em;
        background: var(--color-level-1);
        outline: 3px solid var(--ls-guideline-color);
        outline-offset: 3px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals div.references:hover {
        background: unset;
        backdrop-filter: blur(40px);
        min-width: 660px;
        max-width: 660px;
        overflow-x: visible;
        z-index: var(--ls-z-index-level-1)
    }

    body.cl-side[data-page="home"] main.ls-right-sidebar-open div#journals div.references,
    body.cl-side[data-page="home"].is-pdf-active div#journals div.references {
        display: none
    }

    :root {
        --ls-main-content-max-width: auto !important;
        --ls-main-content-max-width-wide: auto !important
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div.journal>div.flex.flex-col:first-child {
        max-width: 1170px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals div.block-children-container {
        display: block
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) :is(div#today-queries+div.flex.flex-col, div.scheduled-or-deadlines) {
        position: fixed;
        bottom: 1em;
        padding: .3em;
        outline: 3px solid var(--ls-guideline-color);
        outline-offset: 3px;
        border-radius: 1.2em;
        background: unset;
        backdrop-filter: blur(40px);
        font-size: small;
        max-height: 30vh;
        overflow: auto;
        z-index: 1
    }

    body.cl-side[data-page="home"] main.ls-right-sidebar-open :is(div#today-queries+div.flex.flex-col, div.scheduled-or-deadlines),
    body.cl-side[data-page="home"] body.cl-side.is-pdf-active :is(div#today-queries+div.flex.flex-col, div.scheduled-or-deadlines) {
        display: none
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#today-queries {
        width: 390px;
        position: fixed;
        right: 0;
        top: calc(var(--ls-headbar-height) + var(--ls-headbar-inner-top-padding));
        bottom: 3px;
        overflow-y: scroll;
        font-size: smaller;
        border-left: 2px solid var(--ls-guideline-color);
        padding: .12em
    }

    body.cl-side[data-page="home"] main.ls-right-sidebar-open div#root div#journals div#today-queries,
    body.cl-side[data-page="home"].is-pdf-active div#root div#journals div#today-queries {
        display: none
    }

    body.cl-side[data-page="home"].is-tabs-loaded div#root div#journals div#today-queries {
        top: calc(var(--ls-headbar-height) + var(--ls-headbar-inner-top-padding) + 40px)
    }

    body.cl-side[data-page="home"] div#today-queries :has(.now, .later, .doing, .todo) {
        font-weight: 600
    }

    body.cl-side[data-page="home"] div#today-queries>div.lazy-visibility div.custom-query {
        margin-top: .1em;
        margin-bottom: .8em
    }

    body.cl-side[data-page="home"] div#today-queries>div.lazy-visibility div.custom-query div.custom-query-title {
        outline: 2px solid var(--ls-guideline-color);
        font-size: medium;
        background: var(--ls-page-blockquote-bg-color)
    }

    body.cl-side[data-page="home"] div#today-queries>div.lazy-visibility div.custom-query div.custom-query-title:hover {
        outline: 4px
    }

    body.cl-side[data-page="home"] div#today-queries.mt-10 {
        margin-top: .1em
    }

    body.cl-side[data-page="home"] div#today-queries>div.lazy-visibility div.custom-query div.content {
        padding-top: .15em
    }

    body.cl-side[data-page="home"] div#today-queries>div.lazy-visibility div.custom-query div.content div.lazy-visibility:not(:last-of-type) {
        border-bottom: 3px dotted var(--ls-guideline-color);
        padding: .6em
    }

    body.cl-side[data-page="home"] div#today-queries>div.lazy-visibility div.custom-query div.content div.lazy-visibility {
        border-right: 4px solid var(--ls-page-blockquote-bg-color)
    }

    body.cl-side[data-page="home"] div#today-queries>div.lazy-visibility div.custom-query div.my-2 {
        padding: .2em;
        margin: .2em;
        height: unset !important
    }

    body.cl-side[data-page="home"] div#today-queries>div.lazy-visibility div.custom-query div.breadcrumb.block-parents {
        color: var(--ct-external-link-color)
    }

    body.cl-side[data-page="home"] div#today-queries .sm\:px-7 {
        padding-left: unset
    }

    body.cl-side[data-page="home"] div#today-queries :has(h2, h3, h4) {
        font-size: 16px;
        padding: 4px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#main-content-container {
        margin: 0;
        padding-top: unset;
        padding-left: 0
    }

    body.cl-side[data-page="home"] main.ls-right-sidebar-open :is(div#today-queries, div#today-queries+div.flex.flex-col, div.scheduled-or-deadlines),
    body.cl-side[data-page="home"].is-pdf-active :is(div#today-queries, div#today-queries+div.flex.flex-col, div.scheduled-or-deadlines) {
        display: none
    }
}

@media screen and (min-width: 1850px) and (max-width: 1910px) {

    body.cl-side[data-page="home"]:not(.is-pdf-active) main:not(.ls-left-sidebar-open) div#today-queries {
        width: 360px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div.journal>div.flex.flex-col:first-child {
        min-width: 820px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) :is(div#today-queries+div.flex.flex-col, div.scheduled-or-deadlines) {
        width: 380px
    }
}

@media screen and (min-width: 1911px) and (max-width: 2019px) {
    body.cl-side[data-page="home"]:not(.is-pdf-active) div.journal>div.flex.flex-col:first-child {
        min-width: 920px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) :is(div#today-queries+div.flex.flex-col, div.scheduled-or-deadlines) {
        width: 460px
    }
}

@media screen and (min-width: 2020px) {
    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals div.references {
        min-width: 660px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div.journal>div.flex.flex-col:first-child {
        min-width: 1000px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) :is(div#today-queries+div.flex.flex-col, div.scheduled-or-deadlines) {
        width: 520px
    }
}

@media screen and (min-width: 1850px) and (max-width: 2259px) {
    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals div.references {
        min-width: 350px;
        max-width: 400px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) :is(div#today-queries+div.flex.flex-col, div.scheduled-or-deadlines) {
        right: 400px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals {
        margin-right: 360px
    }
}

@media screen and (min-width: 2260px) {
    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals div.references {
        min-width: 400px;
        max-width: 660px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals div.journal>div.flex.flex-col:first-child {
        max-width: 1250px;
        margin-left: 4em
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals :is(div#today-queries+div.flex.flex-col, div.scheduled-or-deadlines) {
        right: 525px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals div#today-queries {
        width: 500px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals {
        margin-right: 500px
    }
}

@media screen and (min-width: 2800px) {
    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals div.references {
        min-width: 660px;
        max-width: 660px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals div.journal>div.flex.flex-col:first-child {
        min-width: 1200px;
        max-width: 1430px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals :is(div#today-queries+div.flex.flex-col, div.scheduled-or-deadlines) {
        right: 640px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals div#today-queries {
        width: 620px
    }

    body.cl-side[data-page="home"]:not(.is-pdf-active) div#journals {
        margin-right: 620px
    }
}